{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block head_content %}
    <title>CSA - About</title>
{% endblock head_content %}


{% block content %}
    <div class="global-container">
		<div class="global-container__main">
            <div class="site-header bg-circles site-header--graphic bg-dark bg-tangerine" id="header-bg">
                <div class="container">
					<div class="site-header__hero">
						<div class="flex-md about-mb hero hero--graphic">
							<div class="about-p-r 4px w-md-50 text-38 line-height-1-2">
                                <p class="mb-2rem line-height-1-2"><sup class="text-yellow"><i class="fa fa-quote-left"></i></sup> Gone are the days where a company invests in domain focussed training program for entry level talent. Today the enterprises look to hire talent which is readymade & can start contributing from Day 1 <sup class="text-yellow"><i class="fa fa-quote-right"></i></sup></p>
                                <h5>Saurabh Agarwal</h5>
                                <p class="text-16 pb-6">Managing Director and CEO</p>
                                <p class="text-20">Cyber Security Academy</p>
                            </div>
							<div class="w-md-50 mt-sm-2rem">
                               <div class="plyr__video-embed" id="player">
                                    <iframe src="https://www.youtube.com/embed/XGhRF42WFDc?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=1"></iframe>
                                </div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="py-30 bg-white bg-light block--features">
				<div class="container">
					<div class="flex-md justify-between">
						<div class="py-14">
							<div class="feature">
                                <img src="{% static 'website-theme/images/img/skill-development.svg' %}" class="move-left-on-hover h-8 border-radius-14 mb-20" alt="slider-img">
                                <h5 class="self-center text-blue">7000+ hours of skill Development</h5>
							</div>
						</div>
						<div class="py-14">
                            <div class="feature">
                                <img src="{% static 'website-theme/images/img/participents.svg' %}" class="move-left-on-hover h-8 border-radius-14 mb-20" alt="slider-img">
                                <h5 class="self-center">1200+ Participants Skilled</h5>
							</div>
						</div>
                        <div class="py-14">
							<div class="feature">
                                <img src="{% static 'website-theme/images/img/up-skilled.svg' %}" class="move-left-on-hover h-8 border-radius-14 mb-20" alt="slider-img">
                                <h5 class="self-center text-indigo">400+ Participants up=skilled</h5>
							</div>
						</div>
                        <div class="py-14">
							<div class="feature">
                                <img src="{% static 'website-theme/images/img/fresh-talent.svg' %}" class="move-left-on-hover h-8 border-radius-14 mb-20" alt="slider-img">
                                <h5 class="self-center text-red">75% Fresh Talent placed</h5>
							</div>
						</div>
                    </div>
                </div>
			</div>
            <div class="block bg-grey bg-dark block--single-feature block--shape block--shape-bolts">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media">
                            <div class="plyr__video-embed" id="player2">
                                <iframe src="https://www.youtube.com/embed/avoKqIttO7k?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=1"></iframe>
                            </div>
                        </div>
						<div class="media-object__content">
							<h2>Launched on 2012</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> Skill Cube launch, IRP with photographs, Training for facutlties & Industry <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
                        </div>
					</div>
				</div>
			</div>
            <div class="block pb-0 bg-light block--single-feature block--shape block--shape-doughnuts">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media flex justify-center flex-wrap">
                            <img class="move-up-on-hover w-half border-radius-14" src="{% static 'website-theme/images/Journey/2012-2014/Guest-Lecture - Vikas Goyal.JPG' %}">
                            <img class="move-left-on-hover w-half mt-2rem border-radius-14 pl-10" src="{% static 'website-theme/images/Journey/2012-2014/DSCN0106.JPG' %}">
                            <img class="move-left-on-hover w-half mt--2rem border-radius-14" src="{% static 'website-theme/images/Journey/2012-2014/UPES- SkillCube (TTT).jpg' %}">
                        </div>
						<div class="media-object__content">
							<h2>2012- 2014</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> Launched in 2012 with motive to skill students, academia & industry professionals on Cyber security Domain. Skill cube conducting Industry Readiness programmes, T-T-T for academia & various other skilling sessions for Industry professionals. <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
						</div>
					</div>
				</div>
			</div>
            <div class="block pb-0 bg-light block--single-feature block--shape block--shape-doughnuts">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media"><img class="move-up-on-hover border-radius-14" src="{% static 'website-theme/images/Journey/2014-2016/20150709_170927.jpg' %}"></div>
						<div class="media-object__content">
							<h2>2014 - 2016</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> Launches Independent Talent solution & Content solution practise for Industries & PSU across India. <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
						</div>
					</div>
				</div>
			</div>
            <div class="block block--single-feature block--shape block--shape-doughnuts pb-0">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media"><img class="move-up-on-hover border-radius-14" src="{% static 'website-theme/images/Journey/2016-2018/Skill Cube TVM 1.jpg' %}"></div>
						<div class="media-object__content">
							<h2>2016 -2018</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> Partnering with Haryana & Kerala government on skilling students on cyber security domain. Partnering with NASSCOM on skill development initiative & soft launch of Cyber Security Academy. <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
						</div>
					</div>
				</div>
			</div>
            <div class="block block--single-feature block--shape">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media flex justify-center flex-wrap">
                            <img class="w-half move-up-on-hover border-radius-14" src="{% static 'website-theme/images/Journey/2016-2018/Skill Cube TVM 2.jpg' %}">
                            <img class="w-half move-left-on-hover mt-2rem border-radius-14 pl-10" src="{% static 'website-theme/images/Journey/2016-2018/Skill Cube Kochi 5.jpg' %}">
                            <img class="w-half move-left-on-hover mt--2rem border-radius-14" src="{% static 'website-theme/images/Journey/2016-2018/IMG-20161222-WA0012.jpg' %}">
                        </div>
						<div class="media-object__content">
							<h2>2018 -NOW</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup>  Providing Skilling, Talent, Content & consulting solutions for National & International Clients with CSA running full time batches at corporate office, Gurgaon. <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
						</div>
					</div>
				</div>
			</div>
            <div class="space-top-bottom bg-yellow bg-light">
				<div class="container">
					<div class="cta">
						<h3 class="cta__title h2 mt-0">Start your career in Cyber Security today!</h3>
						<div class="cta__text mt-16">
							Take your dreams to reality
						</div>
						<div class="cta__action mt-2rem">
							<a class="btn btn--primary btn--icon" href="/enroll/"><span class="btn__text">Enroll Now</span> <span class="btn__icon"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
							<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
								<g class="icon" transform="translate(-478.000000, -5672.000000)">
									<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
								</g>
							</g></svg></span></a>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="../package/js/swiper.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/home.js' %}"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script>
        const player = new Plyr('#player');
        const player2 = new Plyr('#player2');
    </script>
{% endblock page_level_scripts %}
