{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block head_content %}
    <title>CSA - About</title>
{% endblock head_content %}


{% block content %}
    <div class="global-container">
		<div class="global-container__main">
            <div class="site-header bg-circles site-header--graphic bg-dark bg-tangerine" id="header-bg">
                <div class="container">
					<div class="site-header__hero">
						<div class="flex-md about-mb hero hero--graphic">
							<div class="about-p-r 4px w-md-50 text-38 line-height-1-2">
                                <p class="mb-2rem line-height-1-2"><sup class="text-yellow"><i class="fa fa-quote-left"></i></sup> Gone are the days when a company invests in domain focussed training program for entry level talent. Today the enterprises look to hire talent which is readymade &amp; can start contributing from Day 1 <sup class="text-yellow"><i class="fa fa-quote-right"></i></sup></p>
                                <h5 class="pb-6">Saurabh Agarwal</h5>
                                <p class="text-20">Founder & Managing Director, Skill Cube</p>
                                <p class="text-20">Cyber Security Academy</p>
                            </div>
							<div class="w-md-50 mt-sm-2rem">
                               <div class="plyr__video-embed" id="player">
                                    <iframe src="https://www.youtube.com/embed/XGhRF42WFDc?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=1"></iframe>
                                </div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="py-30 bg-white bg-light block--features">
               <div class="container">
                  <div class="flex-md justify-between numbers">
                     <div class="py-14">
                        <div class="feature text-blue number-item">
                           <h2 class="pb-6 value">7000</h2>
				<h2 class="pb-6" style="position: absolute;top: 0;right: 20px;">+</h2>
                           <h6 class="self-center">hours of skill Development</h6>
                        </div>
                     </div>
                     <div class="py-14">
                        <div class="feature number-item">
                           <h2 class="pb-6 value">1200</h2>
				<h2 class="pb-6" style="position: absolute;top: 0;right: 20px;">+</h2>
                           <h5 class="self-center">Participants Skilled</h5>
                        </div>
                     </div>
                     <div class="py-14">
                        <div class="feature text-indigo number-item">
                           <h2 class="pb-6 value">400</h2>
				<h2 class="pb-6" style="position: absolute;top: 0;right: 20px;">+</h2>
                           <h5 class="self-center">Participants up skilled</h5>
                        </div>
                     </div>
                     <div class="py-14">
                        <div class="feature text-red number-item" style="position: relative;">
                           <h2 class="pb-6 value" data-speed="1500">75</h2>
                           <h2 class="pb-6" style="position: absolute;top: 0;right: 20px;">%</h2>
                           <h5 class="self-center">Fresh Talent placed</h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="block bg-grey bg-dark block--single-feature block--shape block--shape-bolts">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media">
                            <div class="plyr__video-embed" id="player2">
                                <iframe src="https://www.youtube.com/embed/avoKqIttO7k?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=1"></iframe>
                            </div>
                        </div>
						<div class="media-object__content">
							<h2>CSA Launch</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> To help bridge the huge cyber security skill gap in the country <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
                        </div>
					</div>
				</div>
			</div>
            <div class="block pb-0 bg-light block--single-feature block--shape block--shape-doughnuts">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media flex justify-center flex-wrap">
                            <img class="move-up-on-hover w-half border-radius-14" src="{% static 'website-theme/images/Journey/12-14/FSCN0628.JPG' %}">
                            <img class="move-left-on-hover w-half mt-2rem border-radius-14 pl-10" src="{% static 'website-theme/images/Journey/12-14/DSCN0618.JPG' %}">
                            <img class="move-left-on-hover w-half mt--2rem border-radius-14" src="{% static 'website-theme/images/Journey/12-14/20140124_153859.jpg' %}">
                        </div>
						<div class="media-object__content">
							<h2>2012- 2014</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> Embarked on a skill development journey with employability focused Industry Readiness Boot Camps for fresh graduates aspiring to make a career in Cyber Security domain; Train-the-Trainer programs for Academic faculties; and re-skilling programs for practicing industry professionals <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
						</div>
					</div>
				</div>
			</div>
            <div class="block pb-0 bg-light block--single-feature block--shape block--shape-doughnuts">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media"><img class="move-up-on-hover border-radius-14" src="{% static 'website-theme/images/Journey/14-16/DSC_0019.jpg' %}"></div>
						<div class="media-object__content">
							<h2>2014 - 2016</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> Extended Cyber Security Talent Acquisition services and tailor-made Content Development services for industry bodies, global IT giants and academic institutions; Collaborated with Government and industry for capacity building initiatives at PAN India level<sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
						</div>
					</div>
				</div>
			</div>
            <div class="block block--single-feature block--shape block--shape-doughnuts pb-0">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media"><img class="move-up-on-hover border-radius-14" src="{% static 'website-theme/images/Journey/16-18/IMG-20161018-WA0006.jpg' %}"></div>
						<div class="media-object__content">
							<h2>2016 -2018</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> Worked with Central/State Governments, industry organizations (Information Technology/BFSI/Aviation/PSUs) at national as well as global level for bridging Cyber Security skill gap through skill development initiatives, setting-up labs, development of training strategies & content, and exclusive talent acquisition partnerships <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
						</div>
					</div>
				</div>
			</div>
            <div class="block block--single-feature block--shape">
				<div class="container">
					<div class="media-object">
						<div class="media-object__media flex justify-center flex-wrap">
                            <img class="w-half move-up-on-hover border-radius-14" src="{% static 'website-theme/images/Journey/16-18/IMG_20161222_142042.jpg' %}">
                            <img class="w-half move-left-on-hover mt-2rem border-radius-14 pl-10" src="{% static 'website-theme/images/Journey/16-18/IMG-20171230-WA0032.jpg' %}">
                            <img class="w-half move-left-on-hover mt--2rem border-radius-14" src="{% static 'website-theme/images/Journey/16-18/IMG-20161018-WA0008.jpg' %}">
                        </div>
						<div class="media-object__content">
							<h2>2018 -NOW</h2>
							<p></p>
                            <p><sup class="text-orange"><i class="fa fa-quote-left"></i></sup> Officially launched Cyber Security Academy to independently run skilling initiatives for academic faculties, fresh graduates and industry professionals <sup class="text-orange"><i class="fa fa-quote-right"></i></sup></p>
						</div>
					</div>
				</div>
			</div>
            <div class="space-top-bottom bg-yellow bg-light">
				<div class="container">
					<div class="cta">
						<h3 class="cta__title h2 mt-0">Start your career in Cyber Security today!</h3>
						<div class="cta__text mt-16">
							Take your dreams to reality
						</div>
						<div class="cta__action mt-2rem">
							<a class="btn btn--primary btn--icon" href="/enroll/"><span class="btn__text">Enroll Now</span> <span class="btn__icon"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
							<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
								<g class="icon" transform="translate(-478.000000, -5672.000000)">
									<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
								</g>
							</g></svg></span></a>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="../package/js/swiper.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/home.js' %}"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script>
        const player = new Plyr('#player');
        const player2 = new Plyr('#player2');
        $(window).scroll(testScroll);
			var viewed = false;

			function isScrolledIntoView(elem) {
			    var docViewTop = $(window).scrollTop();
			    var docViewBottom = docViewTop + $(window).height();

			    var elemTop = $(elem).offset().top;
			    var elemBottom = elemTop + $(elem).height();

			    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
			}

			function testScroll() {
			  if (isScrolledIntoView($(".numbers")) && !viewed) {
			      viewed = true;
			      $('.value').each(function () {
			      $(this).prop('Counter',0).animate({
			          Counter: $(this).text()
			      }, {
			          duration: 4000,
			          easing: 'swing',
			          step: function (now) {
			              $(this).text(Math.ceil(now));
			          }
			      });
			    });
			  }
			}
    </script>
{% endblock page_level_scripts %}
