{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <meta charset="utf-8" />

        {% block head_content %}
        {% endblock head_content %}

        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <meta name="author"  content=""/>
        <meta name="MobileOptimized" content="320" />
        <!--start theme style -->
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/font-awesome.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/fonts.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/owl.carousel.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/owl.theme.default.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/jquery-ui.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/animate.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/swiper.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'website-theme/css/jquery.sweet-dropdown.min.css' %}" />
        <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
        <link href="https://use.typekit.net/btq2hqj.css" rel="stylesheet">
        <link href="{% static 'website-theme/css/website-css/main.css' %}" rel="stylesheet" type="text/css">

        <!-- favicon links -->
        <link rel="shortcut icon" type="image/png" href="{% static 'website-theme/images/img/CSA-logo-3-csa.png' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    </head>
    <body>
       <div class="global-container-no-height">
		<div class="global-container__main">
			<div class="sticky-nav bg-light" data-nav-parent="" id="sticky-nav">
				<div class="container container--wide">
					<div class="site-header-nav">
						<div>
							<a href="/">
								<img class="w-8" src="{%static 'website-theme/images/img/CSA-logo-1.png' %}" alt="logo">
							</a>
						</div>
						<div class="site-header-nav__nav">
							<nav class="nav-primary">
								<div class="nav-primary__items bg-dark" data-nav-items-container="">
									<div class="nav-primary-items">
										<div class="nav-primary-items__logo">
											<a href="/"></a>
										</div>
										<div class="nav-primary-items__links">
											<ul class="nav-items">
												<li class="nav-items__item d-sm-hidden">
                                                    <span class="nav-link cursor-pointer" data-dropdown="#dropdown-standard">Courses <i class="fa fa-chevron-down"></i></span>
                                                    <div class="d-sm-hidden border-0 dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-standard">
                                                        <ul>
                                                            <li><a href="/application-security/">Application Security</a></li>
                                                            <li><a href="/security-operation-center/">Security Operation Center</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="nav-items__item d-md-hidden">
                                                    <span class="nav-link cursor-pointer mobile-menu-dropdown">Courses <i class="fa fa-chevron-down"></i></span>
                                                    <div class="nav-mobile-dropdown">
                                                        <ul>
                                                            <li><a href="/application-security/">Application Security</a></li>
                                                            <li><a href="/security-operation-center/">Security Operation Center</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="nav-items__item">
													<a class="nav-link" href="/about/">About Us</a>
												</li>
												<li class="nav-items__item">
													<a class="nav-link" href="/industry-speak/">Industry Speak</a>
												</li>
                                                <li class="nav-items__item">
													<a class="nav-link" href="/franchise/">Franchise</a>
												</li>
											</ul>
										</div>
										<div class="nav-primary-items__ctas">
											<ul class="nav-items">
												<li class="nav-items__item">
													<a class="btn btn--primary btn--icon effect header_enr bg_blue" href="/enroll/"><span class="btn__text">Enroll Now</span> <span class="btn__icon"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
											<g class="icon" transform="translate(-478.000000, -5672.000000)">
												<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
											</g>
										</g></svg></span></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="nav-primary__trigger">
									<button class="nav-primary-trigger" data-nav-trigger=""><span class="nav-primary-trigger__text">Menu</span> <span class="nav-primary-trigger__open"><svg height="35" viewbox="0 0 38 35" width="38" xmlns="http://www.w3.org/2000/svg">
									<g class="icon" fill="#282d39" fill-rule="evenodd">
										<rect height="11.4" rx="5.7" width="38" y=".407143"></rect>
										<rect height="11.4" rx="5.7" width="38" y="23.207143"></rect>
									</g></svg></span> <span class="nav-primary-trigger__close"><svg height="39" viewbox="0 0 41 39" width="41" xmlns="http://www.w3.org/2000/svg">
									<g class="icon" fill="#282d39" fill-rule="evenodd" transform="translate(-3 -4)">
										<path d="m4.75595238 16.5059524 37.18290042.8647186c3.6722418.085401 6.6288848 3.042044 6.7142857 6.7142857.0804465 3.4591967-2.6585718 6.3286445-6.1177686 6.4090909-.0970943.002258-.194228.002258-.2913223 0l-37.18290041-.8647186c-3.67224174-.085401-6.62888475-3.042044-6.71428572-6.7142857-.08044643-3.4591967 2.65857186-6.3286445 6.1177686-6.4090909.09709431-.002258.194228-.002258.29132231 0z" transform="matrix(.70710678 -.70710678 .70710678 .70710678 -9.734019 23.5)"></path>
										<path d="m5.06114719 17.370671 37.18290041-.8647186c3.4591968-.0804465 6.3286445 2.6585718 6.4090909 6.1177686.002258.0970943.002258.194228 0 .2913223-.0854009 3.6722417-3.0420439 6.6288847-6.7142857 6.7142857l-37.18290042.8647186c-3.45919673.0804465-6.32864447-2.6585718-6.40909091-6.1177686-.00225801-.0970943-.00225801-.194228 0-.2913223.08540097-3.6722417 3.04204398-6.6288847 6.71428572-6.7142857z" transform="matrix(.70710678 .70710678 -.70710678 .70710678 23.5 -9.734019)"></path>
									</g></svg></span></button>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<header class="site-header site-header--graphic bg-dark nav-bg-color" data-nav-parent="" id="nav-bg">
				<div class="site-header__nav">
					<div class="container container--wide">
						<div class="site-header-nav" id="site-header-nav">
							<div class="site-header-nav__logo">
								<a href="/">
									<img class="w-full" src="{%static 'website-theme/images/img/CSA-logo_2.png' %}" alt="logo">
								</a>
							</div>
							<div class="site-header-nav__nav">
								<nav class="nav-primary">
									<div class="nav-primary__items bg-dark" data-nav-items-container="">
										<div class="nav-primary-items">
											<div class="nav-primary-items__logo">
												<a href="/"></a>
											</div>
											<div class="nav-primary-items__links">
												<ul class="nav-items">
													<li class="nav-items__item d-sm-hidden">
                                                        <span class="nav-link cursor-pointer" data-dropdown="#dropdown-with-icons">Courses <i class="fa fa-chevron-down"></i></span>
                                                        <div class="dropdown-menu border-0 dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-with-icons">
                                                            <ul>
                                                                <li><a href="/application-security/">Application Security</a></li>
                                                                <li><a href="/security-operation-center/">Security Operation Center</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="nav-items__item d-md-hidden">
                                                        <span class="nav-link cursor-pointer mobile-menu-dropdown">Courses <i class="fa fa-chevron-down"></i></span>
                                                        <div class="nav-mobile-dropdown">
                                                            <ul>
                                                                <li><a href="/application-security/">Application Security</a></li>
                                                                <li><a href="/security-operation-center/">Security Operation Center</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="nav-items__item">
                                                        <a class="nav-link" href="/about/">About Us</a>
                                                    </li>
                                                    <li class="nav-items__item">
                                                        <a class="nav-link" href="/industry-speak/">Industry Speak</a>
                                                    </li>
                                                    <li class="nav-items__item">
                                                        <a class="nav-link" href="/franchise/">Franchise</a>
                                                    </li>
												</ul>
											</div>
											<div class="nav-primary-items__ctas">
												<ul class="nav-items">
													<li class="nav-items__item">
														<a class="btn btn--primary btn--icon effect header_enr" href="/enroll/"><span class="btn__text">Enroll Now</span> <span class="btn__icon"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
											<g class="icon" transform="translate(-478.000000, -5672.000000)">
												<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
											</g>
										</g></svg></span></a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="nav-primary__trigger">
										<button class="nav-primary-trigger" data-nav-trigger=""><span class="nav-primary-trigger__text">Menu</span> <span class="nav-primary-trigger__open"><svg height="35" viewbox="0 0 38 35" width="38" xmlns="">
										<g class="icon" fill="#282d39" fill-rule="evenodd">
											<rect height="11.4" rx="5.7" width="38" y=".407143"></rect>
											<rect height="11.4" rx="5.7" width="38" y="23.207143"></rect>
										</g></svg></span> <span class="nav-primary-trigger__close"><svg height="39" viewbox="0 0 41 39" width="41" xmlns="http://www.w3.org/2000/svg">
										<g class="icon" fill="#282d39" fill-rule="evenodd" transform="translate(-3 -4)">
											<path d="m4.75595238 16.5059524 37.18290042.8647186c3.6722418.085401 6.6288848 3.042044 6.7142857 6.7142857.0804465 3.4591967-2.6585718 6.3286445-6.1177686 6.4090909-.0970943.002258-.194228.002258-.2913223 0l-37.18290041-.8647186c-3.67224174-.085401-6.62888475-3.042044-6.71428572-6.7142857-.08044643-3.4591967 2.65857186-6.3286445 6.1177686-6.4090909.09709431-.002258.194228-.002258.29132231 0z" transform="matrix(.70710678 -.70710678 .70710678 .70710678 -9.734019 23.5)"></path>
											<path d="m5.06114719 17.370671 37.18290041-.8647186c3.4591968-.0804465 6.3286445 2.6585718 6.4090909 6.1177686.002258.0970943.002258.194228 0 .2913223-.0854009 3.6722417-3.0420439 6.6288847-6.7142857 6.7142857l-37.18290042.8647186c-3.45919673.0804465-6.32864447-2.6585718-6.40909091-6.1177686-.00225801-.0970943-.00225801-.194228 0-.2913223.08540097-3.6722417 3.04204398-6.6288847 6.71428572-6.7142857z" transform="matrix(.70710678 .70710678 -.70710678 .70710678 23.5 -9.734019)"></path>
										</g></svg></span></button>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
            </header>
        </div>
       </div>
        {% block content %}

        {% endblock %}

        <div class="global-container__footer">
            <div class="block block--footer bg-grey bg-dark">
                <div class="container">
                    <footer class="site-footer">
                        <div class="site-footer__logo">
                            <img class="w-8" src="{% static 'website-theme/images/img/CSA-logo_2.png' %}" alt="logo">
                        </div>
                        <div class="site-footer__nav">
							<ul class="nav-footer">
								<li class="nav-footer__item">
									<a class="nav-link" href="/about/">About Us</a>
								</li>
								<li class="nav-footer__item">
									<a class="nav-link" href="/franchise/">Franchise</a>
								</li>
                                <li class="nav-footer__item">
									<a class="nav-link" href="/enroll/">Contact</a>
								</li>
								<li class="nav-footer__item">
									<a class="nav-link" href="/industry-speak/">Industry Speak</a>
								</li>
                                <li class="nav-footer__item">
									<a class="nav-link" href="/privacy/">Privacy</a>
								</li>
							</ul>
						</div>
                        <div class="site-footer__social">
                            <h3>Follow us</h3>
                            <ul class="nav-social">
                            	<li class="nav-social__item">
                                    <a href="https://www.facebook.com/CSA.SkillCube.2019/?modal=admin_todo_tour" rel="noopener" target="_blank"><svg height="52px" version="1.1" viewbox="0 0 52 52" width="52px" xmlns="http://www.w3.org/2000/svg">
                                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                        <g class="icon" fill="#FFFFFF" transform="translate(-543.000000, -7293.000000)">
                                            <g transform="translate(543.000000, 7293.000000)">
                                                <g id="Fill-2">
                                                    <path d="M36.6599283,26.158972 L36.6986301,25.9029126 L30.0625,25.9029126 L30.0625,21.2519678 C30.0625,19.1832631 31.0697461,17.1668253 34.2995859,17.1668253 L37.578125,17.1668253 L37.578125,10.7292658 C37.578125,10.7292658 37.3656596,10.6927829 37,10.639315 L37,10.5097087 C37,10.5097087 34.0569726,10 31.2433333,10 C25.3690822,10 21.5296804,13.6128155 21.5296804,20.1533981 L21.5296804,25.9029126 L15,25.9029126 L15,33.4466019 L15.3359375,33.4466019 L15.3359375,33.7205498 L21.5296804,33.7205498 L21.5296804,51.6828083 C21.6652739,51.7044023 21.8012166,51.7249255 21.9375,51.7443682 L21.9375,52 C9.50782422,50.0377195 0,39.215671 0,26.158972 C0,11.71176 11.6405859,0 26,0 C40.3594141,0 52,11.71176 52,26.158972 C52,39.215671 42.4921758,50.0377195 30.0625,52 L30.0625,33.7205498 L36.1207031,33.7205498 L37.2734375,26.158972 L36.6599283,26.158972 Z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g></svg></a>
                                </li>
                                <li class="nav-social__item">
                                    <a href=" https://www.linkedin.com/company/26592773/admin/" rel="noopener" target="_blank">
										<i class="fa fa-linkedin footer-linkedin" style="font-size: 27px;"></i>
									</a>
                                </li>
                            </ul>
                        </div>
                        <div class="site-footer__contact">
                            <p>© 2019 Skill Cube Pvt. Ltd. All Rights Reserved.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

        <!-- let's call the following div as the POPUP FRAME -->
    <div id="popup" class="popup panel panel-primary">
        {{ popup_frame }}
        {% for data in popup_frame %}
            {% if forloop.counter == 1 %}
                <!-- and here comes the image -->
                <img src="{{ data.image.url }}" alt="popup">
            {% endif %}
        {% endfor %}
            
            <!-- Now this is the button which closes the popup-->
        <div class="panel-footer">
            <a id="close" class="btn-lg btn-primary">X</a>
        </div>
            
            <!-- and finally we close the POPUP FRAME-->
            <!-- everything on it will show up within the popup so you can add more things not just an image -->
    </div>
        <!--main js file start-->

        <script type="text/javascript" src="{% static 'website-theme/js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/animate-ext.js' %}"></script>
        <script src="{% static 'theme/js/shortcuts.js' %}" async></script>
        <script type="text/javascript" src="{% static 'website-theme/js/Chart.min.js' %}"></script>
        <script src="{% static 'website-theme/js/site.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/swiper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/website-js/base.js' %}"></script>
        <script src="{% static 'website-theme/js/jquery.sweet-dropdown.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js" async></script>
       <script>
            $(document).ready(function(){
              $(".mobile-menu-dropdown").click(function(){
                  if( $('.nav-mobile-dropdown').css('display') == 'none' ) {
                       $(".nav-mobile-dropdown").css("display", "block")
                    } else {
                       $(".nav-mobile-dropdown").css("display", "none");
                    }
              });
            });
       </script>
	
	
	<style>
	.btn--icon.effect .btn__text {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 1.8em;
		width: .9em;
		-webkit-transition: -webkit-transform .3s ease;
		transition: -webkit-transform .3s ease;
		transition: transform .3s ease;
		transition: transform .3s ease, -webkit-transform .3s ease;
		position: absolute;
		top: 50%;
		left: 10%;
	}

	.btn--icon.effect {
		background-color: #fff;
		color: #282d39;
		padding: 28px 110px;
	}

	.btn--icon.effect:hover .btn__text {
		-webkit-transform: translate(.5em, -50%);
		transform: translate(.5em, -50%);
	}

	.bg-light .btn--primary.effect2 {
		background-color: #056ff0;
		color: #fff;
		padding: 32px 110px;
	}
	.bg-light .btn:hover {
	    background-color: #282d39!important;
	    color: #fff!important;
	}	
	#popup {
	    display:none;
	    position:absolute;
	    margin:0 auto;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    box-shadow: 0px 0px 50px 2px #000;
	    border-color: unset;
	}		
	#popup img{
		position: relative;
	}
	.panel-footer {
	    padding: 0px 0px;
	    background-color: unset;
	    border-top: 0px solid #ddd;
	    border-bottom-right-radius: 3px;
	    border-bottom-left-radius: 3px;
	    position: absolute;
	    top: -10px;
	    right: -10px;
	}
	.panel-footer .btn-lg {
	    padding: 6px 12px;
	    font-size: 18px;
	    line-height: 1.3333333;
	    border-radius: 50%;
	}
	</style>
	
        <!--main js file end-->
        {% block page_level_scripts %}
        {% endblock %}
    </body>
</html>
