{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block head_content %}
    <title>CSA - Courses</title>
{% endblock head_content %}

{% block content %}
    <div class="global-container">
		<div class="global-container__main">
            <div class="site-header site-header--graphic bg-dark bg-tangerine bg-circles" id="header-bg">
                <div class="container">
					<div class="site-header__hero">
						<div class="flex-md about-mb hero hero--graphic">
							<div class="about-p-r 4px text-38">
							    <h2 class="cta__title pb-15">Security Operation center</h2>
                                <p class="font__20 mb-2rem">A security operations centre (SOC) is a centralized unit that deals with security issues on an organizational and technical level. A SOC within a building or facility is a central location from where staff supervises the site, using data processing technology.</p>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="space-top-bottom block--single-feature pb-0">
				<div class="container">
                     <div class="flex-md">
                        <div class="text-center text-pinker pr-md-30 pb-15 w-md-10">
                            <span class="font-bold">MODULE</span>
                            <h2>1</h2>
                        </div>
                        <div class="flex-md module-border-left">
                            <div class="w-md-75 pr-16">
                                <h3 class="pb-15">Introduction to Networking</h3>
                                <p class="font__20 pb-15">This module covers elementary networking concepts which enable Security Operations.</p>
                                <div class="pb-35">
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Networking Components</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Network types & Topologies</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Network protocols</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>OSI Model</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-25 d-sm-hidden">
                                <img class="rotate-half-on-hover mt-2rem" src="{% static 'website-theme/images/img/networking-2.svg' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="space-top-bottom block--single-feature pt-md-0 pb-0">
				<div class="container">
                     <div class="flex-md">
                        <div class="text-center text-brown pr-md-30 pb-15 w-md-10">
                            <span class="font-bold">MODULE</span>
                            <h2>2</h2>
                        </div>
                        <div class="flex-md module-border-left">
                            <div class="w-md-75 pr-16">
                                <h3 class="pb-15">Cyber Security</h3>
                                <p class="font__20 pb-15">This module covers basics of Cyber Security ecosystem which lays a strong foundation to perform Security Operations.</p>
                                <div class="pb-35">
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>3 Pillars of Cybersecurity</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Cybersecurity Principals</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Fundamentals of Governance, Risk, and Compliance</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Information Security Laws, Regulations & Guidelines</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-25 d-sm-hidden">
                                <img class="rotate-half-on-hover mt-2rem" src="{% static 'website-theme/images/img/linux-fundamental-2.svg' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="space-top-bottom block--single-feature pt-md-0 pb-0">
				<div class="container">
                     <div class="flex-md">
                        <div class="text-center text-pinker pr-md-30 pb-15 w-md-10">
                            <span class="font-bold">MODULE</span>
                            <h2>3</h2>
                        </div>
                        <div class="flex-md module-border-left">
                            <div class="w-md-75 pr-16">
                                <h3 class="pb-15">Security Operations Centre (SOC)</h3>
                                <p class="font__20 pb-15">This module covers setting up of a SOC for preventing, detecting, analysing, and responding to cybersecurity incidents.</p>
                                <div class="pb-35">
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Need of SOC</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>SOC Architecture</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>SOC Components</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Operational Challenges in SOC</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-25 d-sm-hidden">
                                <img class="rotate-half-on-hover mt-2rem" src="{% static 'website-theme/images/img/software-1-development.svg' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="space-top-bottom block--single-feature pt-md-0 pb-0">
				<div class="container">
                     <div class="flex-md">
                        <div class="text-center text-brown pr-md-30 pb-15 w-md-10">
                            <span class="font-bold">MODULE</span>
                            <h2>4</h2>
                        </div>
                        <div class="module-border-left flex-md">
                            <div class="w-md-75 pr-16">
                                <h3 class="pb-15">Data Collection, Monitoring, and Analysis</h3>
                                <p class="font__20 pb-15">This module covers various processes around collection of raw data & bringing meaningful results by analysis of such data.</p>
                                <div class="pb-35">
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>The need for Cyber Security</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Data collection & Monitoring process</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Log Data Analysis and Management</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Event Correlation and Techniques</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Packet Analysis & Filtering Mechanism</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-25 d-sm-hidden">
                                <img class="rotate-half-on-hover mt-2rem" src="{% static 'website-theme/images/img/cyber-security-2.svg' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="space-top-bottom block--single-feature pt-md-0 pb-0">
				<div class="container">
                     <div class="flex-md">
                        <div class="text-center text-pinker pr-md-30 pb-15 w-md-10">
                            <span class="font-bold">MODULE</span>
                            <h2>5</h2>
                        </div>
                        <div class="flex-md module-border-left">
                            <div class="w-md-75 pr-16">
                                <h3 class="pb-15">SOC Processes</h3>
                                <p class="font__20 pb-15">This module covers various processes implemented for smooth & effected functioning of a SOC.</p>
                                <div class="pb-35">
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Ticket & Process Management</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Incident Management</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Change Management</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Documentation and Reporting</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-25 d-sm-hidden">
                                <img class="rotate-half-on-hover mt-2rem" src="{% static 'website-theme/images/img/application-security-2.svg' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="space-top-bottom block--single-feature pt-md-0 pb-0">
				<div class="container">
                     <div class="flex-md">
                        <div class="text-center text-brown pr-md-30 pb-15 w-md-10">
                            <span class="font-bold">MODULE</span>
                            <h2>6</h2>
                        </div>
                        <div class="flex-md module-border-left">
                            <div class="w-md-75 pr-16">
                                <h3 class="pb-15">Threat Intelligence for SOC Operations</h3>
                                <p class="font__20 pb-15">This module covers how threat intelligence can be built in SOC.</p>
                                <div class="pb-35">
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Threat Intelligence Lifecycle</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Identifying Security Threats through Intelligence</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Best Practices of Threat Intelligence</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-25 d-sm-hidden">
                                <img class="rotate-half-on-hover mt-2rem" src="{% static 'website-theme/images/img/app-vulnerabilities-2.svg' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="space-top-bottom block--single-feature pb-0 pt-md-0">
				<div class="container">
                     <div class="flex-md">
                        <div class="text-center text-pinker pr-md-30 pb-15 w-md-10">
                            <span class="font-bold">MODULE</span>
                            <h2>7</h2>
                        </div>
                        <div class="flex-md module-border-left">
                            <div class="w-md-75 pr-16">
                                <h3 class="pb-15">Web Application Security Testing</h3>
                                <p class="font__20 pb-15">This module covers the process of identifying vulnerabilities, exploiting known weaknesses in the application/technical infrastructure & documenting the results.</p>
                                <div class="pb-35">
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>OWASP Top 10</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Vulnerability Assessment</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Penetration Testing</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-pinker font__20 fa fa-check-circle"></i></span>
                                        <p>Security Testing reports</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-25 d-sm-hidden">
                                <img class="rotate-half-on-hover mt-2rem" src="{% static 'website-theme/images/img/awas-2.svg' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="space-top-bottom block--single-feature pb-0 pt-md-0">
				<div class="container">
                     <div class="flex-md">
                        <div class="text-center text-brown pr-md-30 pb-15 w-md-10">
                            <span class="font-bold">MODULE</span>
                            <h2>8</h2>
                        </div>
                        <div class="flex-md module-border-left">
                            <div class="w-md-75 pr-16">
                                <h3 class="pb-15">SOC Tools and Technologies</h3>
                                <p class="font__20 pb-15">This module covers essential security platforms for running successful Security Operation Centre.</p>
                                <div class="pb-35">
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Data-Collection Tools</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Security Incident and Event Management</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Data Loss Prevention</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Intrusion Detection & Prevention System</p>
                                    </div>
                                    <div class="flex pb-10 font__18">
                                        <span class="self-center pr-10"><i class="text-brown font__20 fa fa-check-circle"></i></span>
                                        <p>Endpoint Protection</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-25 d-sm-hidden">
                                <img class="rotate-half-on-hover mt-2rem" src="{% static 'website-theme/images/img/scanner-2.svg' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
{#            <div class="space-top-bottom site-header site-header--graphic bg-light bg-yellow" id="header-bg">#}
{#                <div class="container">#}
{#                    <div class="flex flex-col-reverse">#}
{#                        <div class="w-md-50 pr-md-34">#}
{#                            <h3 class="pb-15">Upcoming Opportunities</h3>#}
{#                            <p class="font__20">The faculty form the most valuable resource of the technical education system. With the advancement of sophisticated technology, it has become imperative for technical teachers to develop an aptitude for life-long learning in their respective fields through faculty development programmes. Moreover, India is one of the countries that have the highest number of educational institutions in the world and, consequently, the highest number of teachers and faculty members.</p>#}
{#                        </div>#}
{#                        <div class="w-md-50 pb-sm-30 flex">#}
{#                            <div class="plyr__video-embed" id="player" style="width: 100%">#}
{#                                <iframe src="https://www.youtube.com/embed/avoKqIttO7k?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=1"></iframe>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="space-top-bottom bg-pinker bg-dark">
				<div class="container">
					<div class="cta">
						<h3 class="cta__title h2 mt-0">Start your career in Cyber Security today!</h3>
						<div class="cta__text mt-16">
							Take your dreams to reality
						</div>
						<div class="cta__action mt-2rem">
							<a class="btn btn--primary btn--icon effect" href="/enroll/"><span class="btn__text">Enroll Now</span> <span class="btn__icon"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
							<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
								<g class="icon" transform="translate(-478.000000, -5672.000000)">
									<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
								</g>
							</g></svg></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="../package/js/swiper.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/home.js' %}"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
     <script>
        const player = new Plyr('#player');
    </script>

    <script>
	     $(document).ready(function () {
	    //select the POPUP FRAME and show it
	    $("#popup").hide().fadeIn(1000);
	    setTimeout(function() {
		  $("#popup").fadeOut(1000);
		}, 15000);
	    

	    //close the POPUP if the button with id="close" is clicked
	    $("#close").on("click", function (e) {
		e.preventDefault();
		$("#popup").fadeOut(1000);
	    });
	});
	</script>
{% endblock page_level_scripts %}
<style>

#popup { 
	    display:none;
	    position:absolute;
	    margin:0 auto;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    box-shadow: 0px 0px 50px 2px #000;
	    border-color: unset;
	}		
	#popup img{
		position: relative;
	}
	.panel-footer {
	    padding: 0px 0px;
	    background-color: unset;
	    border-top: 0px solid #ddd;
	    border-bottom-right-radius: 3px;
	    border-bottom-left-radius: 3px;
	    position: absolute;
	    top: -10px;
	    right: -10px;
	}
	.panel-footer .btn-lg {
	    padding: 6px 12px;
	    font-size: 18px;
	    line-height: 1.3333333;
	    border-radius: 50%;
	}
	</style>
