{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block content %}
    <div class="global-container">
		<div class="global-container__main">
			<div class="site-header site-header--graphic bg-dark bg-indigo bg-doughnuts" data-nav-parent="" id="header-bg">
				<div class="container">
					<div class="site-header__hero enrollment-form">
						<div class="flex flex-col-reverse about-mb hero hero--graphic">
							<div class="about-div-width pr-md-80">
                                <div class="enroll-input-box">
                                    <input type="text" name="name" placeholder="Full Name"><br>
                                    <input type="email" name="email" placeholder="Email *">
                                    <div class="flex">
                                        <span class="country-code">+91</span>
                                        <input type="number" name="mobile" placeholder="Mobile Number *">
                                    </div>
                                    <button class="enroll-submit-btn">Submit</button>
                                </div>
                            </div>
							<div data-in-view="" class="about-div-width mt-sm-30">
                                <div class="hero hero--graphic">
                                    <div class="hero__cta">
                                        <div class="cta">
                                            <h2 class="pb-15">Speek to a consultant</h2>
                                            <h4><i class="fa fa-phone text-red" style="font-size: 44px;"></i> + 91 87 876 7568</h4>
                                            <h4><i class="fa fa-comments text-light-blue" style="font-size: 48px;"></i> + 91 90 970 8901</h4>
                                        </div>
                                    </div>
                                    <div class="mb-2rem mt--md-99"><img class="w-full" src="{% static 'website-theme/images/cms-assets/graphics/character-group.svg' %}"></div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="space-top-bottom bg-white block--single-feature">
				<div class="container">
                    <h2 class="pb-40">FAQ<sup><img class="h-2" src="{% static 'website-theme/images/img/question .svg' %}" alt="question"></sup></h2>
					<div class="w-80">
                        <div class="mb-30">
                            <span class="flex"><h4 class="pr-16 text-yellow">Q.</h4> <h5>The first Indian Mathematician who treated Mathematics as a different discipline?</h5></span>
                            <span class="flex"><h4 class="pr-16 text-blue text-md-26">A.</h4> <p>At the beginning of his work, Mahavira stresses the importance of mathematics in both secular and religious life and in all kinds of disciplines, including love and cooking.</p></span>
                        </div>
                        <div class="mb-30">
                            <span class="flex"><h4 class="pr-16 text-yellow">Q.</h4> <h5>The first Indian Mathematician who treated Mathematics as a different discipline?</h5></span>
                            <span class="flex"><h4 class="pr-16 text-blue text-md-26">A.</h4> <p>At the beginning of his work, Mahavira stresses the importance of mathematics in both secular and religious life and in all kinds of disciplines, including love and cooking.</p></span>
                        </div>
                        <div class="mb-30">
                            <span class="flex"><h4 class="pr-16 text-yellow">Q.</h4> <h5>The first Indian Mathematician who treated Mathematics as a different discipline?</h5></span>
                            <span class="flex"><h4 class="pr-16 text-blue text-md-26">A.</h4> <p>At the beginning of his work, Mahavira stresses the importance of mathematics in both secular and religious life and in all kinds of disciplines, including love and cooking.</p></span>
                        </div>
					</div>
				</div>
			</div>
            <div class="py-30 bg-white block--features">
				<div class="container">
                    <div class="flex justify-center text-gradiant-purple">
                        <h3>3029 calls today</h3>
					</div>
                </div>
			</div>
		</div>
	</div>

{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="../package/js/swiper.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/home.js' %}"></script>
{% endblock page_level_scripts %}
