{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block head_content %}
    <title>CSA - Enroll</title>
{% endblock head_content %}

{% block content %}
    <div class="global-container">
		<div class="global-container__main">
			<div class="site-header site-header--graphic bg-teal bg-doughnuts" data-nav-parent="" id="header-bg">
				<div class="container">
					<div class="enrollment-form">
						<div class="flex flex-col-reverse hero hero--graphic">
							<div class="w-md-50 pr-md-34">
                                <div class="hero hero--graphic">
                                    <div class="hero__cta">
                                        <div class="cta mt-sm-2rem">
                                            <h2 class="pb-15 text-md-46">Give us a shout.<br>
                                                We will make you a believer.
                                            </h2>
                                            <a href="tel:+8448695936"><p class="font__28 font-bold"><i class="pr-10 fa fa-tty text-dark-blue text-30"></i> + 91 84 4869 5936</p></a>
                                            <a href="https://web.whatsapp.com" target="_blank"><p class="font__28 font-bold"><i class="pr-10 fa fa-whatsapp text-dark-green text-30" style="width: 40px;"></i> + 91 96 5491 2585</p></a>
                                            <a href="mailto:Saurabh@skillcube.in"><p class="font__28 font-bold"><i class="pr-10 fa fa-envelope-open text-brown text-30"></i> enroll@skillcube.in</p></a>
                                        </div>
                                    </div>
                                    <div class="mt-2rem enroll-img"><img class="h-md-full" src="{% static 'website-theme/images/img/enroll-illustration.svg' %}"></div>
                                </div>
                            </div>
                            <div class="w-md-50 pl-md-34">
                                <div class="enroll-input-box mt-2rem">
                                    <div class="pb-15">
                                        <label>Full name</label>
                                        <input type="text" name="name" placeholder="Full Name" id="full_name" required><br>
                                    </div>
                                    <div class="pb-15">
                                        <span id="enroll-error" style="color:red"></span>
                                        <label>Email</label>
                                        <input type="email" name="email" placeholder="Email *" id="email" required>
                                        <span id="email-error" hidden style="color:red">Please enter valid email id.</span>
                                    </div>
                                    <div>
                                        <label>Mobile no.</label>
                                        <div class="flex">
                                            <span class="country-code">+91</span>
                                            <input type="number" name="mobile" onKeyPress="if(this.value.length===10) return false;" placeholder="Mobile Number *" id="mobile" required>
                                        </div>
                                    </div>
                                    <div class="pb-15">
                                        <label>Location </label>
                                        <input type="text" name="location" placeholder="Location" id="location"><br>
                                    </div>
                                      <div class="pb-15">
                                        <label>Comment  </label>
                                        <input type="text" name="comment" placeholder="Comment" id="comment"><br>
                                    </div>
                                    <button class="enroll-submit-btn" id="enroll_submit" onclick="enroll();">Submit</button>
                                </div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="space-top-bottom bg-gray-bluish block--single-feature">
				<div class="container">
                    <h3 class="pb-15">Frequently Asked Questions</h3>
					<div class="w-80">
                        <div class="pb-30">
                            <span class="flex pb-6"><h5 class="text-gray-300 pr-16 line-height-1">Q.</h5> <h5>What is the eligibility for the course?</h5></span>
                            <span class="flex"><h5 class="text-gray-300 pr-16 line-height-1">A.</h5> <p>We encourage graduates from IT & Computer Science background to apply for our courses.</p></span>
                        </div>
                        <div class="pb-30">
                            <span class="flex pb-6"><h5 class="text-gray-300 pr-16 line-height-1">Q.</h5> <h5>Do I need to have any prior knowledge for this course?</h5></span>
                            <span class="flex"><h5 class="text-gray-300 pr-16 line-height-1">A.</h5> <p>It is not mandatory to have prior knowledge of this course before applying. However, if you have knowledge around application development, programming languages or networking concepts, it will accelerate the learning process.</p></span>
                        </div>
                        <div class="pb-30">
                            <span class="flex pb-6"><h5 class="text-gray-300 pr-16 line-height-1">Q.</h5> <h5>When & where the training will be given?</h5></span>
                            <span class="flex"><h5 class="text-gray-300 pr-16 line-height-1">A.</h5> <p>The training programs are conducted every month at Cyber Security Academy based in Sector 65, Golf Course Extension Road, Gurgaon. The nearest metro station is Sector 56 which is 12 mins away from our office.</p></span>
                        </div>
                        <div class="pb-30">
                            <span class="flex pb-6"><h5 class="text-gray-300 pr-16 line-height-1">Q.</h5> <h5>Before enrolling in the course, will I be able to interact with the Trainer?</h5></span>
                            <span class="flex"><h5 class="text-gray-300 pr-16 line-height-1">A.</h5> <p>Yes, before enrolling in the training program, you will be invited for free demo class with our trainer and he shall walk you through the course content, practical labs and our talent team shall explain you various career opportunities which you can explore after completion of the course.</p></span>
                        </div>
                        <div class="pb-30">
                            <span class="flex pb-6"><h5 class="text-gray-300 pr-16 line-height-1">Q.</h5> <h5>What is the eligibility for the course?</h5></span>
                            <span class="flex"><h5 class="text-gray-300 pr-16 line-height-1">A.</h5> <p>We encourage graduates from IT & Computer Science background to apply for our courses.</p></span>
                        </div>
                        <div class="pb-30">
                            <span class="flex pb-6"><h5 class="text-gray-300 pr-16 line-height-1">Q.</h5> <h5>What is the duration of this course?</h5></span>
                            <span class="flex"><h5 class="text-gray-300 pr-16 line-height-1">A.</h5> <p>Standard duration of our courses is 3 months| 4 days a week (Tuesday – Friday) | 4 hours per day.</p></span>
                        </div>
                        <div class="pb-30">
                            <span class="flex pb-6"><h5 class="text-gray-300 pr-16 line-height-1">Q.</h5> <h5>Will I get the certification post completion of this course?</h5></span>
                            <span class="flex"><h5 class="text-gray-300 pr-16 line-height-1">A.</h5> <p>Certification will be given to those candidates who successfully clear the post training assessment. For other, we shall provide Certificate of Participation.</p></span>
                        </div>
                        <div class="pb-30">
                            <span class="flex pb-6"><h5 class="text-gray-300 pr-16 line-height-1">Q.</h5> <h5>What kind of salary package can I expect after completion of this program?</h5></span>
                            <span class="flex"><h5 class="text-gray-300 pr-16 line-height-1">A.</h5> <p>You can expect a CTC between 2.4-3.6 LPA initially and depending on your performance you can grow up to 5 LPA in 1 year. Though earning will depend on your deliverables and skill investment.</p></span>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="../package/js/swiper.min.js"></script>
    <script>
        function validate_login_form(){
            let email_regex = new RegExp(/^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/);
            let has_error = false;
            let mobile_el =  $("#mobile");
            let email_el =  $("#email");
            let full_name =  $("#full_name");
            let location_el =  $("#location");
            let comment_el =  $("#comment");
            if(!email_el.val()){
                // no value
                has_error = true;
                email_el.animateCss("shake");
            }
            else if(!email_regex.test(email_el.val())){
                // regex fail
                has_error = true;
                email_el.animateCss("shake");
            }
            else if(!full_name.val()){
                has_error = true;
                full_name.val("").animateCss("shake");
            }
            else if(!mobile_el.val()){
                has_error = true;
                mobile_el.val("").animateCss("shake");
            }
            else if(!location_el.val()){
                has_error = true;
                mobile_el.val("").animateCss("shake");
            }
            else if(!comment_el.val()){
                has_error = true;
                mobile_el.val("").animateCss("shake");
            }
            return has_error
        }

        function enroll() {
            // loading on enroll button

            const body = {
                "fullname": $("#full_name").val(),
                "email": $("#email").val(),
                "mobile": $("#mobile").val(),
                "location": $("#location").val(),
                "comment": $("#comment").val(),
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            };
            let settings = {
                url: '/enroll/',
                data: body,
                "success": function (response) {
                    if(!response.status) {
                        $("#email-error").attr("hidden", "hidden");
                        $("#enroll-error").text(response.message);
                    }
                    else{
                        $("#enroll-error").text(response.message);
                        $("#full_name").val('');
                        $("#email").val('');
                        $("#mobile").val('');
                        $("#location").val('');
                        $("#comment").val('');
                        //window.location = "/enroll/"
                    }
                    $("#enroll_submit").attr("disabled", "disabled");
                    show_notification("success", "Thank you for submitting your details!");
                },
                "error": function () {
                    show_notification("danger", "Something goes wrong. Please contact to admin");
                }
            };
            if(!validate_login_form()) {
                $("#enroll_submit").removeAttr("disabled");
                $.post(settings)
            }
            else{
                if ($("#full_name").val() && $("#email").val() && $("#mobile")){
                    $("#email-error").removeAttr("hidden");
                }
                else{
                    $("#email-error").attr("hidden", "hidden");
                }
            }
        }
    </script>
{% endblock page_level_scripts %}
