{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block head_content %}
    <title>CSA - Franchise</title>
{% endblock head_content %}


{% block content %}
    <div class="global-container">
		<div class="global-container__main">
            <div class="site-header site-header--graphic bg-indigo bg-doughnuts bg-dark" data-nav-parent="" id="header-bg">
				<div class="container">
					<div class="enrollment-form">
						<div class="flex-md hero hero--graphic">
							<div class="w-md-50 pr-md-34">
                                <div class="hero hero--graphic">
                                    <div class="hero__cta">
                                        <div class="cta mt-sm-2rem">
                                            <h3>
                                                Let's
                                            </h3>
                                            <h2 class="">Grow Together</h2>
                                            <hr class="pb-6">
                                        </div>
                                    </div>
                                    <p class="font__20">Cyber Security Academy (CSA) is a brand of SkillCube. SkillCube established in 2012 is one of the pioneers in India focusing on Cyber Security Skill Development Solutions. The academy is a trusted and one-stop destination for all capacity building initiatives in the realm of Cyber Security.</p>
                                    <div class="mt-2rem franchise-img">
                                        <div class="plyr__video-embed" id="player">
                                            <iframe src="https://www.youtube.com/embed/avoKqIttO7k?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=1"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-md-50 pl-md-34">
                               <div class="enroll-input-box mt-2rem">
                                    <div class="pb-15">
                                        <label>Full name</label>
                                        <input type="text" name="name" placeholder="Full Name" id="full_name" required><br>
                                    </div>
                                    <div class="pb-15">
                                        <label>Email</label>
                                        <input type="email" name="email" placeholder="Email *" id="email" required>
                                    </div>
                                    <div>
                                        <label>Mobile no.</label>
                                        <div class="flex">
                                            <span class="country-code">+91</span>
                                            <input type="number" name="mobile" onKeyPress="if(this.value.length===10) return false;" placeholder="Mobile Number *" id="mobile" required>
                                        </div>
                                    </div>
                                    <div class="pb-15">
                                        <label>Location </label>
                                        <input type="text" name="location" placeholder="Location" id="location"><br>
                                    </div>
                                      <div class="pb-15">
                                        <label>Comment  </label>
                                        <input type="text" name="comment" placeholder="Comment " id="comment "><br>
                                    </div>
                                    <button class="franchise-submit-btn" id="franchise_submit" onclick="franchise();">Submit</button>
                                </div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="space-top-bottom bg-gray-bluish block--single-feature franchise-cards">
				<div class="container text-center">
                    <h3 class="pb-15">What we offer to franchisee?</h3>
                    <p class="mb-4 text-20">Cyber Security Academy offers high-level support, assistance, advice and effective guidance to franchisee pertaining to setting up and operating the Academy in an efficient manner.</p>
				    <div class="features-list justify-left flex-wrap">
						<div class="feature-list-div w-md-third mb-2rem">
                            <div class="pb-15 franchise-img-parent-height"><img src="{% static 'website-theme/images/img/setup.svg' %}" alt="svg images" class="franchise-img-height"></div>
                            <div class="feature__text">
                                <h5>Set Up</h5>
                                <p class="text-light-black">Assist in architectural aspects, furniture designing and branding of the Academy to provide seamless learning experience</p>
                            </div>
						</div>
                       <div class="feature-list-div w-md-third mb-2rem">
                            <div class="pb-15 franchise-img-parent-height"><img src="{% static 'website-theme/images/img/traning.svg' %}" alt="svg images" class="franchise-img-height"></div>
                            <div class="feature__text">
                                <h5>Training</h5>
                                <p class="text-light-black">Conduct train-the-trainer session and key staff of our franchise partners before the franchise launch to make them well versed with the sales, marketing & operations process</p>
                            </div>
						</div>
                       <div class="feature-list-div w-md-third mb-2rem">
                            <div class="pb-15 franchise-img-parent-height"><img src="{% static 'website-theme/images/img/special-session.svg' %}" alt="svg images" class="franchise-img-height"></div>
                            <div class="feature__text">
                                <h5>Guest Lectures</h5>
                                <p class="text-light-black">Guest Sessions will be conducted by domain experts through online platform to the trainees, so they get to learn directly from the Industry experts</p>
                            </div>
                       </div>
                       <div class="feature-list-div w-md-third">
                            <div class="pb-15 franchise-img-parent-height"><img src="{% static 'website-theme/images/img/course-content.svg' %}" alt="svg images" class="franchise-img-height"></div>
                            <div class="feature__text">
                                <h5>Course Content</h5>
                                <p class="text-light-black">Provide the course material & virtual lab access for the participants to enables 24X7 learning</p>
                            </div>
                       </div>
                       <div class="feature-list-div w-md-third mt-sm-2rem">
                            <div class="pb-15 franchise-img-parent-height"><img src="{% static 'website-theme/images/img/operations-manual.svg' %}" alt="svg images" class="franchise-img-height"></div>
                            <div class="feature__text">
                                <h5>Operational Manual</h5>
                                <p class="text-light-black">Provide operational manual to maintain standardization, uniformity & quality control across all franchises in line with the brand guidelines</p>
                            </div>
                       </div>
                       <div class="feature-list-div w-md-third mt-sm-2rem">
                            <div class="pb-15 franchise-img-parent-height"><img src="{% static 'website-theme/images/img/advertisment.svg' %}" alt="svg images" class="franchise-img-height"></div>
                            <div class="feature__text">
                                <h5>Advertising and Promotions</h5>
                                <p class="text-light-black">Organize event specific advertising and promotions of Cyber Security Academy at National level, sponsoring events, tie-up with media houses</p>
                            </div>
                       </div>
					</div>
                </div>
			</div>
            <div class="space-top-bottom bg-blue bg-dark block--single-feature">
				<div class="container">
                    <h3 class="mb-2rem">Why become a CSA Franchise owner?</h3>
                    <div class="flex-md justify-between numbers">
                     <div class="py-14 w-md-50">
                        <div class="feature number-item">
                           <h2 class="pb-6 value sign">7000</h2>
                           <h6 class="self-center">hours of skill development</h6>
                        </div>
                     </div>
                     <div class="py-14 w-md-50">
                        <div class="feature number-item">
                           <h2 class="pb-6 value sign">1200</h2>
                           <h6 class="self-center">participants skilled</h6>
                        </div>
                     </div>
                     <div class="py-14 w-md-50">
                        <div class="feature number-item">
                           <h2 class="pb-6 value sign">400</h2>
                           <h6 class="self-center">participants up skilled</h6>
                        </div>
                     </div>
                     <div class="py-14 w-md-50">
                        <div class="feature number-item" style="position: relative;">
                           <h2 class="pb-6 value perc" data-speed="1500">75</h2>
                           <h6 class="self-center">fresh talent placed</h6>
                        </div>
                     </div>
                  </div>
                </div>
			</div>
            <div class="space-top-bottom bg-white block--single-feature">
				<div class="container">
                    <h3 class="mb-2rem">Our ideal franchise partners </h3>
                    <ul class="text-20 flex-md flex-wrap">
                        <li class="pb-10 line-height-1-pont-5 w-md-50"><i class="fa fa-check-circle pr-10 text-dark-green"></i>Professionals with technology background/first time entrepreneur</li>
                        <li class="pb-10 line-height-1-pont-5 w-md-50"><i class="fa fa-check-circle pr-10 text-dark-green"></i>Already running a IT vocational education business</li>
                        <li class="pb-10 line-height-1-pont-5 w-md-50"><i class="fa fa-check-circle pr-10 text-dark-green"></i>Aspirants already working in the IT education sector</li>
                        <li class="pb-10 line-height-1-pont-5 w-md-50"><i class="fa fa-check-circle pr-10 text-dark-green"></i>Existing entrepreneurs looking for diversification</li>
                    </ul>
                </div>
			</div>
        </div>
    </div>
{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="../package/js/swiper.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/franchise.js' %}"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script>
        const player = new Plyr('#player');
        $(window).scroll(testScroll);
			var viewed = false;

			function isScrolledIntoView(elem) {
			    var docViewTop = $(window).scrollTop();
			    var docViewBottom = docViewTop + $(window).height();

			    var elemTop = $(elem).offset().top;
			    var elemBottom = elemTop + $(elem).height();

			    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
			}

			function testScroll() {
			  if (isScrolledIntoView($(".numbers")) && !viewed) {
			      viewed = true;
			      $('.value').each(function () {
			      $(this).prop('Counter',0).animate({
			          Counter: $(this).text()
			      }, {
			          duration: 4000,
			          easing: 'swing',
			          step: function (now) {
			              $(this).text(Math.ceil(now));
			          }
			      });
			    });
			  }
			}
    </script>
    <script>
        function validate_login_form(){
            let email_regex = new RegExp(/^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/);
            let has_error = false;
            let mobile_el =  $("#mobile");
            let email_el =  $("#email");
            let full_name =  $("#full_name");
            if(!email_el.val()){
                // no value
                has_error = true;
                email_el.animateCss("shake");
            }
            else if(!email_regex.test(email_el.val())){
                // regex fail
                has_error = true;
                email_el.animateCss("shake");
            }
            else if(!full_name.val()){
                has_error = true;
                full_name.val("").animateCss("shake");
            }
            else if(!mobile_el.val()){
                has_error = true;
                mobile_el.val("").animateCss("shake");
            }
            return has_error
        }

        function franchise() {
            // loading on franchise button

            const body = {
                "fullname": $("#full_name").val(),
                "email": $("#email").val(),
                "mobile": $("#mobile").val(),
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            };
            let settings = {
                url: '/franchise/',
                data: body,
                "success": function (response) {
                    if(!response.status) {
                        $("#email-error").attr("hidden", "hidden");
                        $("#franchise-error").text(response.message);
                    }
                    else{
                        $("#franchise-error").text(response.message);
                        window.location = "/franchise/"
                    }
                    $("#franchise_submit").attr("disabled", "disabled");
                    show_notification("success", "Franchise Form Submitted!");
                },
                "error": function () {
                    show_notification("danger", "Something goes wrong. Please contact to admin");
                }};
                if(!validate_login_form()) {
                    $("#franchise_submit").removeAttr("disabled");
                    $.post(settings)
                }
                else{
                    if ($("#full_name").val() && $("#email").val() && $("#mobile")){
                        $("#email-error").removeAttr("hidden");
                    }
                    else{
                        $("#email-error").attr("hidden", "hidden");
                    }
                }
        }
    </script>
   <style type="text/css">
    	.value.sign::after {
                  content: "+";
                  
                }
	   .value.perc::after {
                  content: "%";
                  
                }
    </style>
{% endblock page_level_scripts %}
