{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block head_content %}
    <title>CSA - Home</title>
{% endblock head_content %}

{% block content %}
    <div class="global-container">
		<div class="global-container__main">
			<div class="site-header site-header--graphic bg-dark csa-progress-line bg-blue h-md-90vh" data-nav-parent="" id="header-bg">
				<div class="container">
					<div>
						<div class="hero hero--graphic hero--graphic-landscape">
							<div class="hero__cta">
								<div class="cta animated fadeIn" data-in-view="">
									<h1 class="cta__title h1 mb-2rem">Take charge of your career</h1>
                                    <div class="flex">
                                        <span class="small-circles bg-tangerine self-center"></span>
                                        <h5 class="self-center">Industry Demand Of Cyber Security</h5>
                                    </div>
                                     <div class="cta__action">
										<a class="btn btn--primary btn--icon effect" href="/enroll/"><span class="btn__text">Enroll Now</span> <span class="btn__icon"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
											<g class="icon" transform="translate(-478.000000, -5672.000000)">
												<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
											</g>
										</g></svg></span></a>
									</div>
								</div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="bg-gray-bluish pb-0 space-top-bottom bg-light block--features animated fadeIn">
				<div class="container">
                    <div class="text-center">
                        <p class="font__22 mb-2rem pb-15">Cyber Security Academy (CSA) is a brand of SkillCube. SkillCube established in 2012 is one of the pioneers in India focusing on Cyber Security Skill Development Solutions. The academy is a trusted and one-stop destination for all capacity building initiatives in the realm of Cyber Security.</p>
                        <hr class="pb-35 text-gray-300">
                        <h3 class="pb-15">Cyber Security Jobs in Your Dream Companies</h3>
                    </div>
				</div>
			</div>
            <div class="bg-gray-bluish animated fadeInUp pt-0 space-top-bottom block--features">
				<div class="container">
					<div class="features-list">
                        {% for job in job_postings %}
                            <div class="feature-list-div shadow-on-hover border-radius-corn cursor-pointer">
                                <a target="_blank" href="{{ job.link }}">
                                    <div class="feature">
                                        <div class="feature__icon"><img src="{{ job.logo.url }}"></div>
                                        <div class="feature__text">
                                            <h6>{{ job.title }}</h6>
                                             <p class="text-light-black text-16 pb-4"><i class="fa fa-map-marker"></i> {{ job.location }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
					</div>
				</div>
			</div>
            <div class="block bg-teal bg-light block--quotes">
                <div class="csa-bedge d-sm-hidden">
                    <img src="{% static 'website-theme/images/img/CSA-logo_6.png' %}" alt="image" class="h-full">
                </div>
				<div class="container">
					<div class="quotes-block">
						<div class="quotes-block__info" data-in-view="">
							<h2>Students who have made it big with CSA</h2>
							<p></p>
							<p>Join the best cyber Security course for freshers recognized by the Industry </p>
							<p></p>
						</div>
						<div class="quotes-block__quotes" data-in-view="">
							<div class="quotes" data-glide="" data-quotes="">
								<div class="quotes__quotes" data-glide-el="track">
									<ul class="quotes-list">
                                        {% for data in testimonials %}
                                            <li class="quotes-list__item transition-delay-sm-9">
                                                <div class="quote">
                                                    <div class="quote__avatar"><img class="avatar bg-white" src="{{ data.pic.url }}"></div>
                                                    <div class="quote__text">
                                                        {{ data.content }}</div>
                                                    <div class="flex justify-between">
                                                        <div class="quote__user-info">
                                                            <div>
                                                                {{ data.name }},
                                                            </div>
                                                            <div class="pb-10">
                                                                {{ data.company }}
                                                            </div>
                                                        </div>
                                                        <div class="self-center">
                                                            <img class="h-2-half" src="{{ data.logo.url }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
									</ul>
								</div>
								<div class="quotes__ctrls">
									<div class="gallery-ctrls" data-glide-el="controls">
										<button aria-label="Previous" class="gallery-ctrls__item gallery-ctrls__item--prev icon-btn" data-glide-dir="&lt;"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
											<g class="icon" transform="translate(-478.000000, -5672.000000)">
												<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
											</g>
										</g></svg><span>Prev</span></button> <button aria-label="Next" class="gallery-ctrls__item gallery-ctrls__item--next icon-btn" data-glide-dir="&gt;"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
											<g class="icon" transform="translate(-478.000000, -5672.000000)">
												<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
											</g>
										</g></svg><span>Next</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space-top-bottom bg-yellow bg-light">
				<div class="container">
					<div class="cta" data-in-view="">
						<h3 class="cta__title h2 mt-0">Start your career in Cyber Security today!</h3>
						<div class="cta__text mt-16">
							Take your dreams to reality
						</div>
						<div class="cta__action mt-2rem">
							<a class="btn btn--primary btn--icon effect effect2" href="/enroll/"><span class="btn__text">Enroll Now</span> <span class="btn__icon"><svg height="42px" version="1.1" viewbox="0 0 45 42" width="45px" xmlns="http://www.w3.org/2000/svg">
							<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
								<g class="icon" transform="translate(-478.000000, -5672.000000)">
									<path d="M480.959902,5690.41381 C478.799483,5692.92183 480.521264,5696.88185 483.780798,5696.88185 L489.91921,5696.88185 L493.516547,5709.70404 C494.295507,5712.26641 496.289546,5714.37324 498.855831,5714.87277 C502.367456,5715.55607 505.687492,5713.42076 506.70846,5710.05863 L510.414196,5696.88185 L516.550087,5696.88185 C519.812142,5696.88185 521.533923,5692.92183 519.373504,5690.41381 C513.620791,5683.74131 509.662965,5679.07469 502.859033,5672.12783 C501.384302,5670.62406 498.949104,5670.62406 497.474373,5672.12783 C490.66792,5679.07469 486.712615,5683.74131 480.959902,5690.41381 Z" transform="translate(500.166667, 5693.000000) rotate(90.000000) translate(-500.166667, -5693.000000)"></path>
								</g>
							</g></svg></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="../package/js/swiper.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/home.js' %}"></script>
{% endblock page_level_scripts %}
