{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block head_content %}
    <title>CSA - Industry Speak</title>
{% endblock head_content %}


{% block content %}
    <div class="global-container">
		<div class="global-container__main">
            <div class="site-header bg-circles site-header--graphic bg-dark bg-grey" id="header-bg">
                <div class="container">
					<div class="site-header__hero">
						<div class="flex-md about-mb hero hero--graphic">
							<div class="about-p-r 4px w-md-half text-38">
							    <h2 class="cta__title h2">Learn with CSA</h2>
                                <p class="font__20 mb-2rem">Free snippets of critical information to help you run your business smarter.</p>
                                <a href=""><button class="youtube-link-btn flex items-center"><i class="fa fa-youtube-play youtube-icon" aria-hidden="true"></i> Play On Youtube</button></a>
                            </div>
							<div class="w-md-half">
                               <div class="plyr__video-embed js-player section">
                                    <iframe src="https://www.youtube.com/embed/2REkk9SCRn0?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=1"></iframe>
                                </div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="space-top-bottom bg-light block--features">
				<div class="container">
					<div class="features-list flex-wrap">
						<div class="feature-list-div cursor-pointer hover-on-plyr w-md-third">
                            <div class="feature__text">
                                <div class="plyr__video-embed js-player section">
                                    <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                </div>
                                <p class="font__20 font-bold pt-6 line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                <p class="text-13">India focussed on trade, terror & black money at the G20 summit. New Delhi also raised key issues like 5G & Iran crisis with Trump.</p>
                            </div>
						</div>
                       <div class="feature-list-div cursor-pointer w-md-third hover-on-plyr">
                            <div class="feature__text">
                                <div class="plyr__video-embed js-player section">
                                    <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                </div>
                                <p class="font__20 font-bold pt-6 line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                <p class="text-13">India focussed on trade, terror & black money at the G20 summit. New Delhi also raised key issues like 5G & Iran crisis with Trump.</p>
                            </div>
						</div>
                       <div class="feature-list-div cursor-pointer w-md-third hover-on-plyr">
                            <div class="feature__text">
                                <div class="plyr__video-embed js-player section">
                                    <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                </div>
                                <p class="font__20 font-bold pt-6 line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                <p class="text-13">India focussed on trade, terror & black money at the G20 summit. New Delhi also raised key issues like 5G & Iran crisis with Trump.</p>
                            </div>
						</div>
					</div>
				</div>
			</div>
            <div class="bg-light block--features mb-2rem">
				<div class="container">
                    <hr style="color:#e2e4e9"></hr>
                    <h4>Featured</h4>
                    <p class="mb-2rem">Most watched and popular videos from CSA</p>
                    <div class="feature-list-div cursor-pointer mb-2rem">
                        <div class="feature__text flex-md">
                            <div class="w-md-25">
                                <div class="plyr__video-embed js-player section">
                                    <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                </div>
                            </div>
                            <div class="pl-md-34">
                                <p class="font__20 font-bold line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                <p class="text-13">“Despacito” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/DOoUzFp “Imposible” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/IMPOSIBLEFp “Calypso” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/CLYPSFp Echame La Culpa disponible ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-list-div cursor-pointer mb-2rem">
                        <div class="feature__text flex-md">
                            <div class="w-md-25">
                                <div class="plyr__video-embed js-player section">
                                    <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                </div>
                            </div>
                            <div class="pl-md-34">
                                <p class="font__20 font-bold line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                <p class="text-13">“Despacito” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/DOoUzFp “Imposible” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/IMPOSIBLEFp “Calypso” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/CLYPSFp Echame La Culpa disponible ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-list-div cursor-pointer mb-2rem">
                        <div class="feature__text flex-md">
                            <div class="w-md-25">
                                <div class="plyr__video-embed js-player section">
                                    <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                </div>
                            </div>
                            <div class="pl-md-34">
                                <p class="font__20 font-bold line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                <p class="text-13">“Despacito” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/DOoUzFp “Imposible” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/IMPOSIBLEFp “Calypso” disponible ya en todas las plataformas digitales: https://UMLE.lnk.to/CLYPSFp Echame La Culpa disponible ...</p>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
            <div class="bg-light block--features mb-2rem">
                <div class="container">
                    <hr style="color:#e2e4e9;"></hr>
                    <h4 class="mb-2rem">Recent Uploads</h4>
                        <div class="features-list">
                            <div class="feature-list-div hover-on-plyr cursor-pointer">
                                <div class="feature__text">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                    <p class="font__18 font-bold pt-6 line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                    <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                </div>
                            </div>
                            <div class="feature-list-div hover-on-plyr cursor-pointer">
                                <div class="feature__text">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                    <p class="font__18 font-bold pt-6 line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                    <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                </div>
                            </div>
                            <div class="feature-list-div hover-on-plyr cursor-pointer">
                                <div class="feature__text">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                    <p class="font__18 font-bold pt-6 line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                    <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                </div>
                            </div>
                            <div class="feature-list-div hover-on-plyr cursor-pointer">
                                <div class="feature__text">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/RgKAFK5djSk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                    <p class="font__18 font-bold pt-6 line-height-1-2">Gravitas: G20 Summit: Takeaways for India</p>
                                    <p class="text-blue text-14 pb-6">#SeeYouAgain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/home.js' %}"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script>
        Array.from(document.querySelectorAll(".js-player.section")).map(p => new Plyr(p));
    </script>
{% endblock page_level_scripts %}
