{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block head_content %}
    <title>CSA - Industry Speak</title>
{% endblock head_content %}


{% block content %}
    <div class="global-container">
        <div class="global-container__main">
            <div class="site-header bg-circles site-header--graphic bg-dark bg-grey" id="header-bg">
                <div class="container">
                    <div class="site-header__hero">
                        <div class="flex-md about-mb hero hero--graphic">
                            <div class="about-p-r 4px w-md-half text-38">
                                <h2 class="cta__title h2"> India Today Conclave Next 2017  </h2>
                                <p class="font__20 mb-2rem">Industry stalwarts emphasis the need & importance of building a pool of cyber security professionals.</p>
{#                                <a href="">#}
{#                                    <button class="youtube-link-btn flex items-center"><i#}
{#                                            class="fa fa-youtube-play youtube-icon" aria-hidden="true"></i> Play On#}
{#                                        Youtube#}
{#                                    </button>#}
{#                                </a>#}
                            </div>
                            <div class="w-md-half mt-sm-2rem">
                                <div class="plyr__video-embed js-player section">
                                    <iframe src="https://www.youtube.com/embed/zWQIwCx7eoE&feature?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=1"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-top-bottom bg-light block--features">
                <div class="container">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="feature__text text-center">
                                <p class="font__22 font-bold line-height-1-2 pb-10">Mike Turner, Chief Operating
                                    Officer, Capgemini </p>
                                <p class="font__20">The cybersecurity skills gap has a very real effect on organisations
                                    in every sector.</p>
                            </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="feature__text text-center">
                                <p class="font__22 font-bold pt-6 line-height-1-2 pb-10">CR Srinivasan, CTO Tata
                                    Communication</p>
                                <p class="font__20">As companies, and government departments move more and more
                                    sensitive data of employees and citizens online, India is facing an acute shortage
                                    of trained cybersecurity professionals.</p>
                            </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="feature__text text-center">
                                    <p class="font__22 font-bold line-height-1-2 pb-10">Siddharth Vishwanath, Cyber Security Leader, PwC India</p>
                                    <p class="font__20">Cyber security skills were earlier required only in select sectors mainly in the BFSI. The threat landscape was limited and so was the demand. But in the last few years with a sweeping wave of digitalisation, the threat landscape spread across various sectors, has triggered the demand for Cyber Security professionals.</p>
                                </div>
                          </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="bg-light block--features mb-2rem">
                <div class="container">
                    <hr style="color:#e2e4e9"></hr>
                    <h4>Views of Industry Leaders</h4>
                    <p class="mb-2rem">Listen to Industry Leader on cyber security</p>
                    <a href="https://www.youtube.com/watch?v=6W1fT0K5sjY" class="text-black">
                        <div class="feature-list-div cursor-pointer mb-2rem">
                            <div class="feature__text flex-md">
                                <div class="w-md-25">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/MoQHCSVdQQs?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                </div>
                                <div class="pl-md-34 w-md-75">
                                    <p class="font__20 font-bold line-height-1-2">Mr. Michiel Bierkens, Netherlands Embassy</p>
                                    <a href="https://www.youtube.com/watch?v=6W1fT0K5sjY"><p class="text-blue text-14 pb-6">
                                        CyberSecurity</p></a>
                                    <p class="text-13">The launch of Cyber Security Academy is a showcase of their dedication towards making the skill development goal.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.youtube.com/watch?v=4Tlvle_pxBo" class="text-black">
                        <div class="feature-list-div cursor-pointer mb-2rem">
                            <div class="feature__text flex-md">
                                <div class="w-md-25">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/4Tlvle_pxBo?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                </div>
                                <div class="pl-md-34 w-md-75">
                                    <p class="font__20 font-bold line-height-1-2">Dr. Sandhya Chintala, NASSCOM </p>
                                    <a href="https://www.youtube.com/watch?v=4Tlvle_pxBo"><p class="text-blue text-14 pb-6">
                                        CyberSecurity</p></a>
                                    <p class="text-13">NASSCOM initiatives to address huge talent gap, views by Dr. Sandhya
                                        Chintala, Vice President, NASSCOM and Executive Director, IT-ITeS Sector Skill
                                        Council.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.youtube.com/watch?v=NheX2XtPmxo" class="text-black">
                        <div class="feature-list-div cursor-pointer mb-2rem">
                            <div class="feature__text flex-md">
                                <div class="w-md-25">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/tw9NSBOkJqg?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                </div>
                                <div class="pl-md-34 w-md-75">
                                    <p class="font__20 font-bold line-height-1-2">Mr. Abhishek Issar, YES, Bank</p>
                                    <a href="https://www.youtube.com/watch?v=NheX2XtPmxo"><p class="text-blue text-14 pb-6">
                                        CyberSecurity</p></a>
                                    <p class="text-13">To secure personal identity and key information is vital nowadays. From that point of view, SkillCube is in the right direction and doing the right measures.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.youtube.com/user/SkillCubeIndia">
                        <button class="view-more-video">View more</button></a>
                </div>
            </div>
            <div class="bg-light block--features mb-2rem">
                <div class="container">
                    <hr style="color:#e2e4e9;"></hr>
                    <h4 class="mb-2rem">News & Updates</h4>
                    <div class="features-list">
                        <div class="feature-list-div hover-on-plyr cursor-pointer">
                            <a href="https://www.youtube.com/watch?v=6W1fT0K5sjY">
                                <div class="feature__text">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/6W1fT0K5sjY?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                    <p class="font__18 font-bold pt-6 line-height-1-2 text-black">Mrs. Amutha Arunachalam, CSIR</p>
                                </div>
                            </a>
                        </div>
                        <div class="feature-list-div hover-on-plyr cursor-pointer">
                            <a href="https://www.youtube.com/watch?v=NheX2XtPmxo">
                                <div class="feature__text">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/NheX2XtPmxo?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                    <p class="font__18 font-bold text-black pt-6 line-height-1-2">Mr. Ritesh Kapahi, Cisco</p>
                                </div>
                            </a>
                        </div>
                        <div class="feature-list-div hover-on-plyr cursor-pointer">
                            <a href="https://www.youtube.com/watch?v=qgeA9ziBKmk">
                                <div class="feature__text">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/qgeA9ziBKmk?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                    <p class="font__18 font-bold pt-6 line-height-1-2 text-black">Mr. Sandeep Ganguly, Nxtradata</p>
                                </div>
                            </a>
                        </div>
                        <div class="feature-list-div hover-on-plyr cursor-pointer">
                            <a href="https://www.youtube.com/watch?v=UVssPztQ4p8">
                                <div class="feature__text">
                                    <div class="plyr__video-embed js-player section">
                                        <iframe src="https://www.youtube.com/embed/UVssPztQ4p8?autoplay=0&controls=0&disablekb=1&playsinline=1&cc_load_policy=0&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fwww.starterscfo.com%2Flearn&noCookie=false&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&origin=https%3A%2F%2Fwww.starterscfo.com&widgetid=3"></iframe>
                                    </div>
                                    <p class="font__18 font-bold pt-6 line-height-1-2 text-black">Mr. Manoj Kumar, HCL Technology</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/home.js' %}"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script>
        Array.from(document.querySelectorAll(".js-player.section")).map(p => new Plyr(p));
         var swiper = new Swiper('.swiper-container', {
             autoplay: 3000,
             speed: 800,
             pagination: {
                 el: '.swiper-pagination',
             },
        });
    </script>
{% endblock page_level_scripts %}
